<%- include('../partials/head') %>
<div class="container">
  <div class="card">
    <div class="card-content">
      <span class="card-title">New Flight</span>

      <form action="/flights" method="POST">
        <div class="input-field col s12">
          <select name="airline">
            <option value="" disabled selected>Airline</option>
            <option value="American">American</option>
            <option value="Southwest">Southwest</option>
            <option value="United">United</option>
          </select>
        </div>
        <div class="input-field col s12">
          <select name="airport">
            <option value="DEN" selected>DEN</option>
            <option value="AUS">AUS</option>
            <option value="DFW">DFW</option>
            <option value="LAX">LAX</option>
            <option value="SAN">SAN</option>
          </select>
        </div>
        <span>Flight No: </span> <input type="text" placeholder="10-9999" name="flightNo" required pattern="^([1-9][0-9]|[0-9][1-9][0-9]|[0-9][0-9][1-9][0-9])$"/>
        <div class="row">
          <div>Destinations: </div>
          <blockquote id="current-destination"></blockquote>
          <span name="destinations" id="hidden-array" style="display: none"></span>
        <div class="input-field col s5 valign-wrapper">
          
          <select id="airport-destination" class="inline">
            <option value="" disabled selected>Airport</option>
            <option value="DEN">DEN</option>
            <option value="AUS">AUS</option>
            <option value="DFW">DFW</option>
            <option value="LAX">LAX</option>
            <option value="SAN">SAN</option>
          </select>
          
        </div>
        <div class="input-field col s5 valign-wrapper">
          <input type="text" id="date-destination" class="inline datepicker" value="<%= date %> ">
          <label>Date</label>
        </div>
        <div class="input-field  col s2 valign-wrapper">
          <a href="#" id="add-destination" class="btn">Add</a>
        </div>
      </div>
        <span>Departs:</span> <input type="text" class="datepicker" value="<%= date %> " disabled/>
        
        </br>
        <button class="btn" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
<script src="/javascripts/new.js"></script>
<%- include('../partials/foot') %>
